.common{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.common button{
    width: 60px;
    padding: 3px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
}

.common button:hover{
    background-color: blue;
    color: bisque;
}